.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

nav li {
  display: inline;
}

#invalid-errors li {
  padding: 5px;
  border-radius: 5px;
  color: red;
  width: 300px;
  margin: 5px auto;
  background-color: white;
}

.col-sm-4 {
  width: 27%;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background-color: #FF9400;
  height: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #453C4D;
  border: solid 1px #453C4D;
}

.dash-container {
  margin: 20px auto;
  width: 95%;
}


#new-survey-title {
  margin: 0 auto;
}

body { 
  padding-top: 40px; 
  background-color: #62566E;

}

nav a{
  margin-left: 30px;
}


nav {
  box-shadow: 0 7px 5px #453C4D;
}

nav span.nav_buttons{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;

}

nav span.nav_buttons input{
  margin-left: 20px;
  width: 180px;
}

nav form#login{
  margin-top: 0;
}


nav input#login{
  width:100px;
}

#index{
  margin: 20px;
}

 div.container {
  background-color: #FF9400;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #453C4D;
  border: solid 1px #453C4D;
  width: 400px;

}

div#index div.container form{
  margin: 20px;
}

div.container input#signup{
  width: 220px;
  box-shadow: 5px 5px 5px #B24700;
  border: solid 1px #B24700;
}

div.container input.btn{
  box-shadow: 5px 5px 5px #B24700;
  border: solid 1px #B24700;

}

#results {
  background-color: #FF9400;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #453C4D;
  border: solid 1px #453C4D;
  width: 475px;
}

div.choice input{
  border-radius: 10px;
  box-shadow: 3px 3px 5px #B24700;
  border: solid 1px #B24700;
}

div.question input{

  box-shadow: 5px 5px 5px #B24700;
  border: solid 1px #B24700;
}

.create-container {
  background-color: #FF9400;
}


#untaken_surveys input.form-control{
  width: 150px;
  box-shadow: 5px 5px 5px #B24700;
  border: solid 1px #B24700;
}

#take_survey{
  height: auto;
}

.take_survey .submit{
  width: 140px;
  border-radius: 10px;
}

.new_survey .new-survey-btn{
  background-color: white;
  border-radius: 5px;
  border: solid 1px #B24700;
  box-shadow: 5px 5px 5px #B24700;
}

.create-title{
  margin-top: 25px;
  background-color: #104BA9;
  border: solid 1px #230672;
  box-shadow: 5px 5px 5px #B24700;
}

#done{
  display: none;
}

.new_survey input.fake-btn{
  float: right;
}

#graph {
  border-radius: 12px;
}
