<div class="question">
  <br>
  <span>Question: <input class="form-control" id="choice-counter" type="text" name="question[<%=@question_value%>][:content]" placeholder="Enter a question here" autofocus></span><br>
</div>
  <div class="choice">
    <span>Choice: <input type="text" name="question[<%=@question_value%>][:reply][:1]" placeholder="Choice"></span><br>
 </div>
 <div class="choice">


   <span>Choice: <input type="text" name="question[<%=@question_value%>][:reply][:2]" placeholder="Choice"></span><br>
 </div>
