<h1>Beardboard</h1>
<div class="container">
  <p>Are you sure you want to delete the following survey: "<%= @survey.title %>"?</p>  
  
 <form action="/surveys/<%= @survey.id %>" method="post">  
    <input type="hidden" name="_method" value="delete">  
    <input class="done-btn" type="submit" value="Yes, Delete It!">  
    <a href="/surveys/<%= @survey.id %>">Cancel</a>  
  </form>

</div> 