<%= erb :_beard %>

<div id="index">
  <h1>Welcome to BeardBoard!</h1>



  <h2>If You're New to the Site, Please Create an Account</h2>
  <div class="container">
    <form id="signup-form" action="/users/new" method="POST">
      <input id="signup-name" class="form-control" type="text" name="name" placeholder="name">
      <br>
        <input id="signup-email" class="form-control" type="text" name="email" placeholder="email">
      <br>
        <input id="signup-password" class="form-control" type="password" name="password" placeholder="password">
      <br>
        <input id="signup-btn" class="btn btn-default" type="submit" value="sign up!">
    </form>
  </div>
  <ul id="invalid-errors">
  </ul>
</div>
