<div id="index">
<h1>Welcome to BeardBoard!</h1>


<h2>If You're New to the Site, Please Create an Account</h2>
<div class="container">
<form id="signup" action="/users/new" method="POST">
  <input id="signup" class="form-control" type="text" name="name" placeholder="name">
  <br>
    <input id="signup" class="form-control" type="text" name="email" placeholder="email">
  <br>
    <input id="signup" class="form-control" type="password" name="password" placeholder="password">
  <br>
    <input class="btn btn-default" type="submit" value="sign up!">
</form>
</div>

</div>
