<h2>Create your new Survey about beards here</h2>

<div class="container new_survey">
  <!-- Button trigger modal -->
  <div id="show-modal-btn">
    <a data-toggle="modal" href="#myModal" class="btn btn-primary btn-lg create-title">Name Your New Survey</a>
  </div>

  <%= erb :_modal %>
  
  <form class="new-survey" action="/surveys/new" method="post">
    <div class='new-survey-title'>
      <h3></h3>
    </div>
    <input id="hidden-survey-title" type="hidden" name="title" value=""><br>
    <div class="question">
      <span>Question: <input class="form-control" type="text" name="question[1][:content]" placeholder="Enter question here" autofocus></span><br>
    </div>
    <div class="choice">
      <span>Choice: <input type="text" name="question[1][:reply][:1]" placeholder="Choice"></span><br>
    </div>
    <div class="choice">
      <span>Choice: <input type="text" name="question[1][:reply][:2]" placeholder="Choice"></span>
    </div>

    <div class="add-survey-content"></div>

    <br>

    <input id="done" class="new-survey-btn" type="submit" value="Done">
  </form>

  <form class="add-choice" action="/surveys/new/choices/new" method="get">
    <input class="new-survey-btn" class="btn-add-choice" type='submit' value='Add Choice'>
  </form>

  <form class="add-question" action="/surveys/new/questions/new" method="get">
    <input class="new-survey-btn" class="btn-next-question" type='submit' value='Add New Question' >
  </form>

</div>
